/* =====================================================
   RESET DE BASE
===================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* =====================================================
   NAVBAR
===================================================== */
nav.navbar {
    position: sticky;
    top: 0;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    z-index: 100;
}

nav .logo-title {
    display: flex;
    align-items: center;
}

nav .logo {
    height: 50px;
    margin-right: 1rem;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu li a:hover {
    border-bottom: 4px solid white;
}

/* =====================================================
   FOOTER
===================================================== */
footer {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 1rem 0;
}
footer a {
    color: inherit; 
    text-decoration: underline;
}

/* =====================================================
   SECTION
===================================================== */
section{
    position: relative;
}

/* =====================================================
   SECURITÉ IMAGES
===================================================== */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ICONES GÉNÉRALES */
.icon {
    display: block;
    position: absolute;
    width: 120px;   /* Ajustable */
    height: auto;
    cursor: pointer;
    transition: transform .25s ease;
}

.icon:hover {
    transform: scale(1.15);
}

/* POSITIONNEMENT EXACT SUR LE DISQUE */
.icon-cv {
    bottom: 5%;   /* place sur le disque */
    left: 28%;
    
}

.icon-linkedin {
    bottom: 22%;  /* en plein centre du disque */
    left: 50%;
    transform: translateX(-50%);
}

.icon-lettre {
    bottom: 5%;
    left: 65%;
}